<h1>Home view</h1>
<p>
    Badge: {{count}}
</p>
<button id="plusOne" class="btn btn-sm btn-primary favBadge" ng-click="plusOne()">
    &nbsp;&nbsp;&nbsp;<i class="icon-circle-arrow-up"></i> +1&nbsp;&nbsp;&nbsp;
</button>
<button id="minusOne" class="btn btn-sm btn-primary favBadge" ng-click="minusOne()">
    &nbsp;&nbsp;&nbsp;<i class="icon-circle-arrow-down"></i> -1&nbsp;&nbsp;&nbsp;
</button>
<button id="reset" class="btn btn-sm btn-primary favBadge" ng-click="reset()">
    <i class="icon-off"></i> Reset
</button>
